= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field
    = f.label :body
    = f.text_area :body, class: "form-control"
  .field
    = f.label :tags
    = f.text_field :tags, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-primary"
